@import "tailwindcss";
@import "@nuxt/ui";
@import "./scrollbar.css";

@theme static {
  --font-sans: "Epunda Slab", serif;

  --color-brand-50: #fdf7f3;
  --color-brand-100: #faede0;
  --color-brand-200: #f4d4b8;
  --color-brand-300: #eeba90;
  --color-brand-400: #d68d67;
  --color-brand-500: #c6613f;
  --color-brand-600: #a84d2f;
  --color-brand-700: #8a3a23;
  --color-brand-800: #6c2b19;
  --color-brand-900: #4e1f11;
  --color-brand-950: #331408;

  --color-bg-50: hsl(0, 0%, 100%);
  --color-bg-100: hsl(48, 33.3%, 97.1%);
  --color-bg-200: hsl(53, 28.6%, 94.5%);
  --color-bg-300: hsl(48, 25%, 92.2%);
  --color-bg-400: hsl(50, 20.7%, 88.6%);
  --color-bg-500: hsl(50, 20.7%, 88.6%);

  --ui-radius: 0.375rem;
}
