@import "tailwindcss";
@import "@nuxt/ui";
@import "./scrollbar.css";

@source "../../../app/";
@source "../../../layers";

@theme static {
  --font-sans: "Epunda Slab", serif;

  --color-brand-50: #f8fde5;
  --color-brand-100: #f1fbb8;
  --color-brand-200: #e6f78c;
  --color-brand-300: #dbf262;
  --color-brand-400: #d0ed40;
  --color-brand-500: #cae825;
  --color-brand-600: #b7d11f;
  --color-brand-700: #9fba1a;
  --color-brand-800: #889416;
  --color-brand-900: #6c6e11;
  --color-brand-950: #6c6e11;

  --color-bg-50: hsl(0, 0%, 100%);
  --color-bg-100: hsl(48, 33.3%, 97.1%);
  --color-bg-200: hsl(53, 28.6%, 94.5%);
  --color-bg-300: hsl(48, 25%, 92.2%);
  --color-bg-400: hsl(50, 20.7%, 88.6%);
  --color-bg-500: hsl(50, 20.7%, 88.6%);

  --ui-radius: 0.5rem;
}
